# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.TechnicalTest.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC1\Documents\Universidad\TechnicalTest\.idea\.idea.TechnicalTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
